body {
  color: #2d3339;
  font-family: "Varela Round";
  background: #edeff0;
  min-height: 100vh;
}

.separator {
  margin-top: 100px;
}

input[type="checkbox"] {
  display:inline-block;
  width:36px;
  height:36px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url(checkbox-empty.svg) left top no-repeat;
  cursor:pointer;
}

#busyPhoneNumbers,#noAnswerPhoneNumbers,#machineAutomatic,#machineManual {
  width: 100%;
  overflow: auto;
  background: #ccc;
  margin-top: 10px;
}
.titleLog {
  margin-top: 30px;
  color: #fff;
  margin: 0 auto;
}

.modal-width {
  width: 50vw;
}